<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Passport Authentication</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.4.1/lumen/bootstrap.min.css">
	<link href="stylesheets/style.css" rel="stylesheet">
	<title>Volunteer</title>
</head>
<nav class="navbar-light bg-info mt-0 fixed-top">
	<div class="d-flex-row ">
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link text-white btn-outline-secondary" href="/">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-white btn-outline-secondary" href="/about">About</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-white btn-outline-secondary" href="/login">Login</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-white btn-outline-secondary " href="/signup">Sign UP</a>
		</li>
	</ul>
	</div>
</nav>

<body>
	{{{ body }}}
</body>

</html>