
{{>navs/nav-block }}
{{>background/background-block}}

<main class="main d-flex flex-wrap">
    <div class="boxes">
        <h1 class="display-4 text-center"><strong>About Us</strong></h1>
        <div class="d-flex flex-row justify-content-center">
                <span class= "col-10 p-4 text-center">
                    We believe everyone should have the chance to make a difference. That's why we make it
                    easy for good people and good causes to connect. Our mission is to connect people with
                    a great place to volunteer and help organizations better leverage
                    volunteers to create real impact.
                </span>

        </div>
    </div>
</main>

<main class="main d-flex flex-wrap">
    <div class="boxes">
         <h1 class="display-4"><strong>Our Mission</strong></h1>
        <div class="d-flex flex-row">
            <span class="col-4 p-4">
                <img src="../img/people.jpg" alt="cool" class="rounded">
            </span>
            <span class="col-8 p-4 mt-2">At Helping Hand Lorem ipsum dolor, sit amet
                consectetur adipisicing elit. Possimus quisquam, quae velit corrupti
                suscipit explicabo nesciunt eaque totam aperiam, soluta tempore,
                hic quidem laudantium? Harum eligendi eius cum nobis nesciunt.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quibusdam odio laboriosam modi, beatae
                in?

            </span>
        </div>
    </div>
</main>

<main class="main d-flex flex-wrap">
    <div class="boxes">
         <h1 class="display-4 text-right"><strong>Our Values</strong></h1>
        <div class="d-flex flex-row">
            <span class="col-8 p-4 mt-2">At Helping Hand Lorem ipsum dolor, sit amet
                consectetur adipisicing elit. Possimus quisquam, quae velit corrupti
                suscipit explicabo nesciunt eaque totam aperiam, soluta tempore,
                hic quidem laudantium? Harum eligendi eius cum nobis nesciunt.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quibusdam odio laboriosam modi, beatae
                in?
            </span>
             <span class="col-4 p-4">
                <img src="../img/jump.jpg" alt="cool" class="rounded">
            </span>
        </div>
    </div>
</main>