
{{>navs/nav-block }}
<header id="home-section">
    <div class="dark-overlay">
        <div class="home-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 d-none d-lg-block">
                        <h1 class="display-4"><strong>About Us</strong></h1>
                        <div class="d-flex flex-row">
                            <div class="p-4 ">
                                We believe everyone should have the chance to make a difference. That's why we make it
                                easy for good people and good causes to connect. Our mission is to connect people with
                                a great place to volunteer and help organizations better leverage
                                volunteers to create a real impact.
                            </div>
                        </div>