{{>navs/nav-block }}
{{>background/background-block}}

<main class="main d-flex flex-wrap">
    <div class="boxes">
        <h1 class="display-4 text-center"><strong>About Us</strong></h1>
        <div class="d-flex flex-row justify-content-center">
            <span class="col-10 p-4 text-center">
                We believe everyone should have the chance to make a difference. That's why we make it
                easy for good people and good causes to connect. Our goal is to connect people with
                a great place to volunteer and help organizations better leverage
                volunteers to create real impact.
            </span>

        </div>
    </div>
</main>

<main class="main d-flex flex-wrap">
    <div class="boxes">
        <h1 class="display-4"><strong>Our Mission</strong></h1>
        <div class="d-flex flex-row">
            <span class="col-4 p-4">
                <img src="../img/people.jpg" alt="cool" class="rounded-circle">
            </span>
            <span class="col-8 p-4 mt-2">To inspire hope and contribute to
                health and well-being of our communities by providing the resources
                needed to every person through our non-profit organization partners
            </span>
        </div>
    </div>
</main>

<main class="main d-flex flex-wrap">
    <div class="boxes">
        <h1 class="display-4 text-right"><strong>Our Values</strong></h1>
        <div class="d-flex flex-row">
            <span class="col-8 p-4 mt-2">Volunteam is a nonprofit organization based in Sacramento. Working with others,
                in
                a spirit of generosity and mutual respect, we want to help build a world where all people can lead free
                and dignified lives. We started in 2020, we love what we do, and we look forward to working with you.
            </span>
            <span class="col-4 p-4">
                <img src="../img/jump.jpg" alt="cool" class="rounded-circle">
            </span>
        </div>
    </div>
</main>