
{{>navs/nav-block }}
{{>background/background-block }}



<div class="jumbtron jumbotron-fluid">
    <h1 class="display-4 text-center mb-4">Create An Event</h1>
</div>


<div class="add container" id="headers">
<form>
  <div class="form-row">
    <div class="form-group col-md-6 offset-md-3">
      <label>Title</label>
      <input type="text" class="form-control" placeholder="Event Title">
    </div>
  </div>
  <div class="form-group col-md-8 offset-md-2">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-lg mb-2">Create</button>
</form>
</div>