
{{>navs/nav-block }}
{{>background/background-block }}

      <div class="container">
        <div class="row">
          <div class="col-lg-8 d-none d-lg-block">
            <h1 class="display-4">Postively <strong>impact your community</strong> & make the earth smile</h1>
            <div class="d-flex flex-row">
              <div class="p-4 align-self-start">
                <a class="faa-parent animated-hover">
                <i class="fa fa-handshake-o faa-bounce" aria-hidden="true"></i> 
                </a>             
              </div>
              <div class="p-4 align-self-end">
                Bringing together great people to improve communities since 2020
              </div>
            </div>
            <div class="d-flex flex-row">
              <div class="p-4 align-self-start">
                <a class="faa-parent animated-hover">
                <i class="fa fa-child faa-spin"></i>
                </a>
              </div>
              <div class="p-4 align-self-end">
                NameOfProject has sucessfuly helped facilitate over 1000 impactful events since inception
              </div>
            </div>
            <div class="d-flex flex-row">
              <div class="p-4 align-self-start">
                <a class="faa-parent animated-hover">
                <i class="fa fa-trophy faa-tada"></i>
                </a>
              </div>
              <div class="p-4 align-self-end">
                Recipient of the 2020 Trilogy customer service award
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card bg-primary text-center card-form">
              <div class="card-body">
                <h3>Sign Up Today</h3>
                <p>Please fill out this form to register</p>
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" placeholder="Username" />
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control form-control-lg" placeholder="Email" />
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-lg" placeholder="Password" />
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-lg" placeholder="Confirm Password" />
                  </div>
                  <input type="submit" value="Submit" class="btn btn-outline-light btn-block" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    
  
