
{{>navs/nav-block }}
{{>background/background-block }}

<div class="container">
  <div class="row">
    <div class="col-lg-8 d-none d-lg-block">
      <h1 class="display-4">Postively <strong>impact your community</strong> & make the earth smile</h1>
      <div class="d-flex flex-row">
        <div class="p-4 align-self-start mt-4">
          <a class="faa-parent animated-hover">

            <i class="fa fa-handshake faa-vertical" aria-hidden="true"></i>
          </a>
        </div>
        <div class="boxes-index">
          <div class="p-4 align-self-end">
            Bringing together great people to improve communities since 2020

          </div>
        </div>
      </div>
      <div class="d-flex flex-row">
        <div class="p-4 align-self-start">
          <a class="faa-parent animated-hover">
            <i class="fa fa-child faa-wrench"></i>
          </a>
        </div>
        <div class="boxes-index">
          <div class="p-4 align-self-end">
            Helping Hand has sucessfuly helped facilitate over 1000 impactful events since inception
          </div>
        </div>
      </div>
      <div class="d-flex flex-row">
        <div class="p-4 align-self-start">
          <a class="faa-parent animated-hover">
            <i class="fa fa-trophy faa-tada"></i>
          </a>
        </div>
        <div class="boxes-index">
          <div class="p-4 align-self-end">
            Recipient of the 2020 Trilogy customer service award
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card bg-primary text-center card-form">
        <div class="card-body">
          <h3>Sign Up Today</h3>
          <p>Please fill out this form to register</p>
          <form>
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="Username" />
            </div>
            <div class="form-group">
              <input type="email" class="form-control form-control-lg" placeholder="Email" />
            </div>
            <div class="form-group">
              <input type="password" class="form-control form-control-lg" placeholder="Password" />
            </div>
            <div class="form-group">
              <input type="password" class="form-control form-control-lg" placeholder="Confirm Password" />
            </div>
            <input type="submit" value="Submit" class="btn btn-outline-light btn-block" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="mission-head-section">
  <div class="container">
    <div class="row mt-2">
      <div class="col text-center">
        <div class="p-5">
          <h1 class="display-4">What we stand for</h1>
          <p>
            We are a community that believes in the power of volunteering to enrich our lives and the world around us.
            We believe that in order to be strong, a community must be constantly evolving, increasingly active and
            evermore diverse
          </p>
          <a href="about" class="btn btn-outline-secondary">Our Misson</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="mission-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../img/kids.jpg" alt="" class="img-fluid mb-3 rounded-circle" />
      </div>
      <div class="col-md-6">
        <h3>Connect With Your Community</h3>
        <p>
          Volunteam is about community. Volunteering always you to connect with people by assisting them in a time of
          need. We are a service that helps grow those connections and make a positive impact on people's lives. We
          believe that strong communities ensue healthier enviornments to grow in.
        </p>
        <div class="d-flex flex-row">
          <div class="p-4 align-self-start">
            <i class="fa fa-chalkboard-teacher"></i>
          </div>
          <div class="p-4 align-self-end">
            One way to make a change is to tutor students after school.
            In effect, giving students the skills they need to study and learn on their own so they can reach their goals both inside
            and outside of school.
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="p-4 align-self-start">
            <i class="fa fa-users"></i>
          </div>
          <div class="p-4 align-self-end">
           It takes a village, together we can accomplish anything
          </div>
        </div>
      </div>
    </div>
  </div>
</section>