
{{>navs/nav-block }}

<h1>List here</h1>

<div id="opp-list" class="cardbody flex-fill p-2 mb-2"></div>

<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<ul class="list-group todo-list">
				<li class="list-group-item new-item">
					<form id="todo-form">
						<div class="container">
							<div class="row">
								<div class="col-10">

								</div>

							</div>
						</div>
					</form>
				</li>
				<span class="event-container">
				</span>
			</ul>
		</div>
	</div>
</div>



<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="../js/search.js" type="text/javascript"></script>